body{
    background-color: rgba(203, 101, 101, 0.407);
    font-family: poppins;
}


a{
    text-decoration: none;
    font-weight: 600;
}
 nav{
     color: blue;
     background-color: rgba(100, 93, 93, 0.375);
 }
.pi{
    display: flex;
    background-color: red important; 
}
