{% extends 'base.html' %}
  <body>
    {% block content%}
    <h1 class="text-center mt-5">Upitch</h1>
    <div class="container"> 
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>category:</strong>'coding</h5>
              <p class="card-text"><strong>posted by:</strong>'Cory House</p>
              <p class="card-text"><strong>pitch</strong>Code is like humor. When you have to explain it, it/s bad</p>
    
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>category:</strong></h5>
              <p class="card-text"><strong>posted by:</strong></p>
              <p class="card-text"><strong>pitch</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>  
    {% endblock%}
  </body>
</html>
    
        