{% extends 'base.html' %}
  <body>
    {% block content%}
    <h1 class="text-center mt-5">Upitch</h1>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">posted by'= 'Cory House'</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock%}
  </body>
</html>

' 
          'category':'coding'
          'pitch':' Code is like humor. When you have to explain it, it/s bad. '
          
        