{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}
    <h1 class="text-center mt-5 upich">Upitch</h1>
    <div class="container"> 
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><strong>category:</strong>'coding</h5>
              <p class="card-text"><strong>posted by:</strong>'Cory House</p>
              <p class="card-text"><strong>pitch</strong>Code is like humor. When you have to explain it, it/s bad</p>
        </div>
      </div>
    </div> 
    
    {% endblock%}
  
    
        