{% extends 'base.html' %}{% macro display(piches) %}

<div class="container-fluid">
	<div class="row">
		{% if piches %} {% for category in piches %}
		<div class="col-8">
			<div class="">
				<h5 class="">{{category.title}}</h5>
					<p>{{category.post}}</p>
					<p class="text-center">Category: {{category.category}}</p>
					
					<div>
						<p>{{category.comment.count()}} Comments</p>
				
						<button><span class="mdi mdi-thumbs-up-down-outline"><a href="{{url_for('main.vote',id = category.id)}}"></a>{{category.vote.count()}}</span></span>  </button>
							

						<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
					</div>
					<footer class="blockquote-footer text-center">
						Posted by: {{category.user.username}}
					</footer>
			</div>

			{% endfor %} {% else %}
			<div class="">
					<p class="">Category Has 0 posts</p>
			</div>
			{% endif %}
		</div>
	</div>
	{% endmacro %}
</div>
