{% extends 'base.html' %}{% macro display(piches) %}

<div class="container">
	<div class="row">
		{% if piches %} {% for category in piches %}
		<div class="chome">
			<div  class=" p-5 text-white  border border-2 border-primary   bg-dark" style="width: 50%;">
				<h1 class="text-info">{{category.title}}</h1>
					<p> <strong>{{category.post}}</strong></p>
					<p>Category: {{category.category}}</p>
					<footer class="blockquote-footer">
						Posted by: {{category.user.username}}
					</footer>
					<div >
						<p>{{category.comment.count()}} Comments</p>
				
						<button><span class="mdi mdi-thumbs-up-down-outline"><a href="{{url_for('main.vote',id = category.id)}}"></a>{{category.vote.count()}}</span></span>  </button>
							

						<a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
					</div>
			</div> <br>

			{% endfor %} {% else %}
			<div class="">
					<p class="">Category Has 0 posts</p>
			</div>
			{% endif %}
		</div>
	</div>
</div>
	{% endmacro %}